In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [7]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [8]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [3]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [4]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [5]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [6]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [7]:
df_join = spark.read.parquet('data/report/revenue/total')

In [8]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [10]:
df_zones = spark.read.parquet('data/pq/zones/')

In [11]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [13]:
df_result.drop('LocationID', 'zone').write.parquet('data/tmp/revenue-zones')

In [14]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 01:00:00| 139|             69.28|                   2|              null|                 null|       139|   Queens|           Laurelton|   Boro Zone|
|2020-01-01 02:00:00| 228|              null|                null| 92.13999999999999|                    3|       228| Brooklyn|    Sunset Park West|   Boro Zone|
|2020-01-01 02:00:00| 246|              null|                null| 5236.380000000003|                  250|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|2020-01-01 05:00:00| 163|              null|                null|           1082.42|                   44|       163|Manhattan|       Midtown North| Yellow Zone|
|2020-01-01 06:00:00|  66|              null|                null|              8.16|                    1|        66| Brooklyn|  DUMBO/Vinegar Hill|   Boro Zone|
|2020-01-01 06:00:00| 114|              null|                null| 396.2900000000001|                   21|       114|Manhattan|Greenwich Village...| Yellow Zone|
|2020-01-01 08:00:00| 146|56.129999999999995|                   2|            138.72|                    9|       146|   Queens|Long Island City/...|   Boro Zone|
|2020-01-01 09:00:00| 106|             53.88|                   2|              null|                 null|       106| Brooklyn|             Gowanus|   Boro Zone|
|2020-01-01 10:00:00|  35|               5.3|                   1|              null|                 null|        35| Brooklyn|         Brownsville|   Boro Zone|
|2020-01-01 11:00:00| 136|              null|                null|             46.75|                    1|       136|    Bronx| Kingsbridge Heights|   Boro Zone|
|2020-01-01 13:00:00| 252|             44.73|                   2|              null|                 null|       252|   Queens|          Whitestone|   Boro Zone|
|2020-01-01 15:00:00|  37|              38.1|                   2|            114.86|                    3|        37| Brooklyn|      Bushwick South|   Boro Zone|
|2020-01-01 15:00:00| 119|             36.18|                   2|              null|                 null|       119|    Bronx|          Highbridge|   Boro Zone|
|2020-01-01 15:00:00| 123|             35.71|                   2|              null|                 null|       123| Brooklyn|           Homecrest|   Boro Zone|
|2020-01-01 16:00:00|  80|            174.61|                   6|              null|                 null|        80| Brooklyn|   East Williamsburg|   Boro Zone|
|2020-01-01 16:00:00| 185|              13.8|                   1|              null|                 null|       185|    Bronx|      Pelham Parkway|   Boro Zone|
|2020-01-01 17:00:00|  68|              null|                null| 3059.279999999998|                  179|        68|Manhattan|        East Chelsea| Yellow Zone|
|2020-01-01 17:00:00| 140|              null|                null|1670.1599999999994|                  108|       140|Manhattan|     Lenox Hill East| Yellow Zone|
|2020-01-01 17:00:00| 168|             64.87|                   3|              null|                 null|       168|    Bronx|Mott Haven/Port M...|   Boro Zone|
|2020-01-02 00:00:00| 153|               9.3|                   1|              null|                 null|       153|Manhattan|         Marble Hill|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows